html {
    display: table;
    margin: auto;
}

.main {
	background-color: black;
    display: table-cell;
    vertical-align: middle;
    font-family: "Times New Roman", Times, serif;
	font-stretch: ultra-condensed;
}

body {
	background-color: black;
    display: table-cell;
    vertical-align: middle;
    font-family: "Times New Roman", Times, serif;
	font-stretch: ultra-condensed;
}	

h1 {
	font-size: 60px;
	text-shadow: 2px 2px #ff0000;
	text-align: center;
}

h2 {
	font-size: 32px;
	text-decoration: underline;
	text-shadow: 0.5px 0.5px white;
}

img {
	width: 100%;
	height: 100%;
}

.my-blue-elements {
	color: #0000FF;
}

.descripcion {
	font-size: 24px;
}

.next-events {
	color: white;
	font-size: 20px;
}

.event {
	display: flex;
}

.galeria {
	display: flex;
}

#image-guitarra {
	width: 200px;
	height: 200px;
	margin-right: 20px;

}

#image-teatro {
	width: 200px;
	height: 200px;
}

#map {
	width: 600px;
	height: 400px;
	margin-bottom: 50px;
}

#fondo-cube {
	width: 25%;
  	height: 40%;
  	position: absolute;
  	background-color: red;
  	margin-top: 10px;
  	margin-bottom: 20px;
}

#cube {
	background-color: white;
	width: 30%;
  	height: 30%;
	position: absolute;
  	transform-style: preserve-3d;
	margin: 0;
	display: block;
	position: absolute;
	border: 2px solid black;
	perspective: 500px;
	transform: rotate(25deg);
	transform: translateX(10px);
}